[Unit]
Description=Kopia Repository Sync Service
After=kopia-backup.service
Wants=kopia-backup.service

[Service]
Type=oneshot
Environment=KOPIA_PASSWORD_FILE=/root/.kopia-password
ExecStart=/usr/bin/kopia repository sync-to sftp --host=richmcbnas --username=richmcb --path=/drose/backups/jelly --keyfile=/home/drose/.ssh/id_ed25519 --known-hosts=/home/drose/.ssh/known_hosts --delete
User=root

[Install]
WantedBy=multi-user.target 