[Unit]
Description=Kopia Backup Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/kopia snapshot create --parallel=16 /
User=root

[Install]
WantedBy=multi-user.target 