[Unit]
Description=Kopia Backup Service
After=network-online.target
Wants=network-online.target kopia-sync.service

[Service]
Type=oneshot
ExecStart=/usr/bin/kopia snapshot create --parallel=16 --exclude-file=/home/drose/git/backups/hosts/jelly/config/kopia-excludes.txt /
User=root

[Install]
WantedBy=multi-user.target 